body, html {
    font-size: 90%;
}

.row {
    max-width: 90rem;
    margin-left: auto;
    margin-right: auto;
}

hr {
    box-sizing: content-box;
    max-width: 90rem;
    height: 0;
    border-right: 0;
    border-top: 0;
    border-bottom: 1px solid #cacaca;
    border-left: 0;
    margin: 1.25rem auto;
}

.menu > li:hover {
    background: #f5f5f5;
    border-radius: 2px;
}

.top-bar-right {
    margin-right: 12%;
}
.top-bar-left {
    margin-left: 1%;
}

.autocomplete-suggestions { border: 1px solid #999; background: #FFF; overflow: auto; }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }
.autocomplete-group { padding: 2px 5px; }
.autocomplete-group strong { display: block; border-bottom: 1px solid #000; }


@media print {
    .page-A4 {
        width: 21cm;
        height: 29.7cm;
        margin: 2.54cm 1.9cm 3.67cm 1.9cm;
    }
}

.fieldset {
    padding: 0.25rem;
    margin: 1.125rem 0;
    background-color: rgba(0, 0, 0, 0.01);
}

.tooltip {
    background: rgba(255, 255, 255, 0.71);
    font-size: 100%;
    color: #333;
    border: 2px solid #333;
}
.nub {
    border-color: transparent transparent #333333 transparent;
}
